In [ ]:
import pandas as pd
import glob

In [ ]:
# Get all of the names of our csvs (os)

# Iterate through .csv files 

# read each csv into pandas df

# add county column

# either store df or concatenate to some output df

In [ ]:
# W/ all data add oil price , unemployment cols

In [ ]:
csv= glob.glob("*_County.csv")
csv

In [ ]:
one=csv[0][:-11]
one

In [ ]:
read1= pd.read_csv(csv[0])
read1["County"]=csv[0][:-11]
read2= pd.read_csv(csv[1])
read2["County"]=csv[1][:-11]
read3= pd.concat([read1,read2])
read3.head()

In [ ]:
complete_df = read1
for county in csv[0:]:
    new_df= pd.read_csv(county)
    new_df["County"]=county[:-11]
    
    complete_df = pd.concat([complete_df, new_df])

In [ ]:
complete_df.shape

In [ ]:
len(complete_df.County.unique())

In [ ]:
complete_df.head()

In [ ]:
complete_df.reset_index(inplace=True, drop= True)
complete_df.head()

In [ ]:
complete_df.to_csv("Complete_house_pricing_data.csv")

In [ ]:
unemployment= pd.read_excel("TX-Unemployment data_BLS.xlsx",skiprows=10)
unemployment.head()

In [ ]:
unemployment.loc[unemployment['Year']==2011,'Jan'].values[0]

In [ ]:
un= unemployment.set_index("Year")
un

In [ ]:
un.loc[2008,"Dec"]

In [ ]:
one = complete_df.loc[0,'Date']
one

In [ ]:
month, year = one.split(' ')
year = int(year)
print(month, year)

In [ ]:
un.loc[year,month]
un.loc[2011, 'Jan']

In [ ]:
date = one
month, year = date.split(' ')

In [ ]:
def reference_cell(date):
    # split date into month, year
    month, year= date.split(" ")
    
    #convert year to int
    year= int(year)
#     reference cell in position year, month
    un_value= un.loc[year, month]
    # Return output
    return un_value

In [ ]:
reference_cell("Jan 2011")

In [ ]:
complete_df["unemployment"]=complete_df['Date'].apply(reference_cell)

In [ ]:
complete_df.head()

In [51]:
complete_df['unemployment'] = complete_df['Date'].apply(lambda x: un.loc[int(x.split()[1]), x.split()[0]])
complete_df.head()

,Date,Sales,Dollar Volume,Average Price,Median Price,Total Listings,Months Invntory,County,unemployment
0,Jan 2011,70,"11,926,588","170,380","168,052",NaN,NaN,Guadalupe,8.0
1,Feb 2011,88,"13,808,445","156,914","150,000",NaN,NaN,Guadalupe,7.9
2,Mar 2011,131,"20,943,149","159,871","157,000",NaN,NaN,Guadalupe,7.9
3,Apr 2011,133,"21,632,252","162,649","156,990",NaN,NaN,Guadalupe,7.9
4,May 2011,159,"26,333,193","165,618","156,000",NaN,NaN,Guadalupe,7.9

In [52]:
complete_df.to_csv("Complete_house_pricing_data.csv")

In [54]:
oil_price =pd.read_excel("PET_PRI_SPT_S1_M.xls",sheet_name="Data 1")
oil_price= oil_price[["Date","Oil price"]]
oil_price.head()

        Date  Oil price
0 1986-01-15      22.93
1 1986-02-15      15.46
2 1986-03-15      12.61
3 1986-04-15      12.84
4 1986-05-15      15.38